<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
		<h1>O que é <b>Contribua</b>?</h1>
 <p><b>Contribua</b> é uma plataforma de ciência cidadã. Ela une cientistas e voluntários na execução de pesquisas científicas. Cientistas podem criar projetos compostos por tarefas que       requerem cognição humana, como: detecção de conteúdo em imagens, vídeos e áudio. Voluntários podem contribuir com a pesquisa executando tarefas nos projetos. Nesse processo, os cientístas    têm as tarefas executadas e os voluntários aprendem um pouco sobre as pesquisa enquanto contribuem para o avanço da ciência. Assim, todos saem ganhando!</p>
 
 <h2>Quero ajudar a ciência, por onde começo?</h2>
 <p>Você pode contribuir executando tarefas em um ou mais projetos. Para conhecer os projetos disponíveis, basta acessar Projetos no menu superior ou clicar <a href='/project/category/featured'> neste      link</a>. Cada projeto apresenta todas as informações que você precisa para contribuir. Em muitos projetos você pode contribuir como anônimo, mas para que sua contribuição seja               contabilizada para você é necessário que você faça um cadastro e sempre execute tarefas logado.</p>
 <h2>Sou cientísta e tenho muitas tarefas para serem executadas, como Contribua pode me ajudar?</h2>
 <p><b>Contribua</b> pode lhe ajudar em duas coisas: criar um projeto e atrair voluntários. A plataforma possui diversas ferramentas que ajudam você a criar projetos de modo a receber a       contribuição de multidões de voluntários, como: obter respostas redundantes para tratar erros e controlar como as tarefas são alocadas aos voluntários. Além disso, existem diversos           voluntários que contribuem regularmente no Contribua, esses voluntários potencialmente podem contribuir no seu projeto. Para criar um projeto, basta acessar Criar no menu superior ou clicar  <a href='/project/new'> neste link</a>.</p>
 
 <h2>Como posso ser informado sobre as novidades no Contribua?</h2>
 <p> O canal de comunicação oficial é o Twitter <a href='https://twitter.com/contribua'>@contribua </a>. Nesse Twitter nós divulgamos as novidades sobre os projetos e as estatísticas do       <b>Contribua</b>.</p>
 
 <h2>Como posso entrar em contato?</h2>
 <p><b>Contribua</b> é mantido pelo Laboratório de Sistemas Distribuídos (LSD) na Universidade Federal de Campina Grande (UFCG). Av. Aprígio Veloso, 882 - Bloco CO, Bodocongó, CEP 58429-900,  Campina Grande - Paraíba, Brasil, Fone: +55 83 2101 1365, Fax: +55 83 2101 1498. E-mail <a href="mailto:contribua@lsd.ufcg.edu.br">contribua@lsd.ufcg.edu.br</a></p>

            </div>
        </div>
    </div>
</section>
